[include]
	path = ~/.gitconfig_local
[user]
	name = Asa Ayers
[push]
	default = upstream
[alias]
	pfo = pull
	pr = !pr.sh
	gpsu = push --set-upstream origin
[rerere]
	enabled = true
[rebase]
	autosquash = true
