"atom-workspace":
  "ctrl-alt-r": "window:reload",
  # "ctrl-alt-a": "ava:toggle"


'atom-text-editor:not(.mini)':
  'alt-<': 'linter-ui-default:previous'
  'alt->': 'linter-ui-default:next'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-w w': 'unset!'
  'ctrl-w left': 'unset!' #'window:focus-pane-on-left'
  'ctrl-w right': 'unset!' #'window:focus-pane-on-right'
  'ctrl-w up': 'unset!' #'window:focus-pane-on-up'
  'ctrl-w down': 'unset!' #'window:focus-pane-on-down'
  'ctrl-w h': 'unset!' #'window:focus-pane-on-left'
  'ctrl-w l': 'unset!' #'window:focus-pane-on-right'
  'ctrl-w k': 'unset!' #'window:focus-pane-on-up'
  'ctrl-w j': 'unset!' #'window:focus-pane-on-down'
  'ctrl-w w': 'unset!' #window:focus-next-pane
  'ctrl-w p': 'unset!' #window:focus-previous-pane
  'ctrl-w v': 'unset!' #pane:split-right
  'ctrl-w s': 'unset!' #pane:split-down
  'ctrl-w c': 'unset!' #pane:close
  'ctrl-w q': 'unset!' #pane:close
  'ctrl-w ctrl-h': 'unset!' #'window:focus-pane-on-left'
  'ctrl-w ctrl-l': 'unset!' #'window:focus-pane-on-right'
  'ctrl-w ctrl-k': 'unset!' #'window:focus-pane-on-up'
  'ctrl-w ctrl-j': 'unset!' #'window:focus-pane-on-down'
  'ctrl-w ctrl-w': 'unset!' #window:focus-next-pane
  'ctrl-w ctrl-p': 'unset!' #window:focus-previous-pane
  'ctrl-w ctrl-v': 'unset!' #pane:split-right
  'ctrl-w ctrl-s': 'unset!' #pane:split-down
  'ctrl-w ctrl-c': 'unset!' #pane:close
  'ctrl-w ctrl-q': 'unset!' #pane:close
  'g q': 'autoflow:reflow-selection'

'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':
  'g q': 'autoflow:reflow-selection'

'atom-text-editor.vim-mode-plus.normal-mode':
  'y s': 'vim-mode-plus:surround'

  'd s': 'vim-mode-plus:delete-surround-any-pair'
  'd S': 'vim-mode-plus:delete-surround'

  'c s': 'vim-mode-plus:change-surround-any-pair'
  'c S': 'vim-mode-plus:change-surround'
  'ctrl-t': 'unset!'

'atom-text-editor.vim-mode-plus.operator-pending-mode.surround-pending':
  's': 'vim-mode-plus:inner-current-line'

'atom-text-editor.vim-mode-plus.visual-mode:not(.insert-mode)':
  'S': 'vim-mode-plus:surround'
